html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom styles for the form elements */
.form-group {
    margin-bottom: 20px;
}

/* Style for the button */
#btnSend {
    margin-top: 20px;
}
/* Style for the button */
.btn-back {
    margin-top: 20px; /* Apply the same margin-top as the Send button */
}

/* Style for the list */
#list {
    padding: 10px;
    list-style-type: none;
}

    /* Style for list items */
    #list li {
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f0f0f0;
    }
